.dashboard-table-style {
  height: inherit !important;
  display: flex;
  .table {
    display: flex;
    width: 100%;
    background-color: white;
    border: 1px solid #000;
    font-size: 12px !important;
    height: 100% !important;
    .maxColor {
      background-color: green;
    }

    .minColor {
      background-color: red;
    }
    .between {
      background-color: yellow;
      justify-content: left;
    }
    .nullColor {
      background-color: #f5f4f6;
      color: #f5f4f6;
    }
  }
}
