.upload-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.First-Dialog {
  height: 100% !important;
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;

  .Dialog-Expand-Div {
    text-align: center;
    background-color: #edf0f4;
    border-radius: 39px !important;
    border: 2px solid #000;

    .btn-close-upload {
      margin: 2%;
    }

    .btn-next-upload {
      margin: 2%;
    }

    .FirstLabel {
      margin-left: auto;
      margin-right: auto;
    }

    .SecondLabel {
      margin-left: auto;
      margin-right: auto;
    }

    .CheckBox-Div {
      margin-top: 1%;
      width: auto;

      .CheckBox-Div-Radio {
        display: inline;
      }
    }
  }
}

.Second-Dialog {
  height: 100% !important;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;

  .Second-Expand-Div {
    text-align: center;
    background-color: #dcdcdc;
    border-radius: 39px !important;
    border: 2px solid #000;

    .btn-close-upload-second {
      margin: 1%;
    }
  }
}
