.right-map-container {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: 1px solid #000;
  background-color: #dcdcdc;
}

.right-dialog-expand-map {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .expand-box-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #dcdcdc;

    .expand-mui-box {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #000;
        width: 100%;
        padding: 1%;
        font-size: 12px;
      }
      
      .map-and-progressbar {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        .expand-custom-world-map {
          display: flex;

          flex-direction: column;
          height: 64vh;
          background-color: rgba(20, 177, 245, 0.132);
          border-bottom: 1px solid #000;
        }
        .progress-bar {
          align-self: flex-start;
          background-color: white;
        }
      }
    }
  }
}
