.wrapper {
  display: flex;
  flex-direction: row;
  .main-content {
    width: 65%;
    padding: 10px;

    .maps-content {
      justify-content: space-between;
      display: flex;
      .left-map {
        align-items: center;
        display: flex;
        flex-direction: column;
        border: 1px solid #000;
        width: 48%;
      }
      .right-map {
        border: 1px solid #000;
        width: 48%;
      }
    }

    .table-content {
      margin-top: 2%;
      border: 1px solid #000;
      border-radius: 0;
    }
  }
  .right-content {
    width: 30%;
    height: 100%;
    padding: 10px;

    .right-top-content {
      width: 100%;
    }

    .dropdown-content {
      display: flex; 
      justify-content: space-between;

      .dropdown-content-left {
        width: 45%;
      }

      .dropdown-content-right {
        width: 45%;
      }
      
    }

    .right-middle-content {
      //display: flex;
      justify-content: center;
      align-items: center;
      margin: 5% 0;
      width: 100%;
      border: 1px solid #000;
    }

    .right-bottom-content {
      padding: 8px;
      width: 100%;
      border: 1px solid #000;
      border-radius: 0px;
    }
  }
}
