.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center; //aligns items at center of screen

  .main-content {
    width: 70%;
    padding: 10px;

    .maps-content {
      justify-content: space-between;
      display: flex;
      box-shadow: 0 3px 15px rgba(60, 60, 60, 0.2);
      border: 1px solid rgb(255, 255, 255);
      padding: 10px;

      .left-map {
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 48%;
        background-color: rgba(20, 177, 245, 0.132);
      }
      .right-map {
        border-radius: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 48%;
        background-color: rgba(20, 177, 245, 0.132);
      }
    }

    .table-content {
      margin-top: 2%;
      box-shadow: 0 3px 15px rgba(60, 60, 60, 0.2);
      border: 1px solid rgb(255, 255, 255);
      padding: 1%;
    }
  }

  .right-content {
    width: 30%;
    height: 100%;
    padding: 10px;
    margin-right: 10px;

    .right-top-content {
      width: 100%;
      box-shadow: 0 3px 15px rgba(60, 60, 60, 0.2);
      border: 1px solid rgb(255, 255, 255);
      padding: 10px;
    }

    .dropdown-content {
      display: flex;
      justify-content: space-between;

      .dropdown-content-left {
        width: 45%;
      }

      .dropdown-content-right {
        width: 45%;
      }
    }

    .upload-content {
      width: 100%;
    }

    .right-middle-content {
      //display: flex;
      justify-content: center;
      align-items: center;
      margin: 5% 0;
      width: 100%;
      box-shadow: 0 3px 15px rgba(60, 60, 60, 0.2);
      border: 1px solid rgb(255, 255, 255);
      padding: 2%;
    }

    .right-bottom-content {
      padding: 8px;
      width: 100%;
      box-shadow: 0 3px 15px rgba(60, 60, 60, 0.2);
      border: 1px solid rgb(255, 255, 255);
    }
  }
}
