.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    .main-content {
        width: 80%;
        padding: 10px;
        .maps {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50%;

            .left-map{
                width: 50%;
                height: 100%;
            }
            .right-map{
                width: 50%;
                height: 100%;
            }
        }
        .table {
            border: 1px solid #000;
            
        }
    }
    .right-content {
        width: 20%;
    }
}