.rating-table {
  padding-top: "2%";

  .rating-table-content {
    margin-top: 2%;
    height: 80%;
    //border: 1px solid #000;
    //border-radius: 0;
    font-size: 12px;
    background-color: white;
  }
}

.dialog-table-expand-style {
  height: 100% !important;
  .rating-div-table-expand-style {
    //height: 1200px;
    .table-expand-style {
      display: flex;
      width: 100%;
      border: 2px solid #000;
      border-radius: 39px;
      font-size: 12px;
    }
  }
}
