.rating-table {
  padding-top: "2%";

  .rating-table-content {
    margin-top: 2%;
    height: 80%;
    border: 1px solid #000;
    border-radius: 0;
    font-size: 12px;
  }
}

.table-expand-style {
  height: fit-content;
}
