.rating-table {
  padding-top: "2%";

  .alertDialog {
    margin-top: 1%;
  }

  .rating-table-content {
    margin-top: 2%;
    height: 80%;
    //border: 1px solid #000;
    //border-radius: 0;
    font-size: 12px;
    background-color: white;
  }
}

.dialog-table-expand-style {
  height: 100% !important;

  .closeButton {
    text-align: right;
    margin-right: 2%;
    margin-top: 2%;
  }

  .header {
    text-align: center;
    margin-top: -5%;
  }
  

  .rating-div-table-expand-style {
    -ms-overflow-style: none;
    //height: 1200px;
    .table-expand-style {
      display: flex;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3%;
      border-radius: 39px;
      font-size: 12px;
    }

    .closeBtnDialog{
      margin-top: 3%;
      text-align: center;
      background-color: #EDF0F4;
    }

  }
}

.warning {
  height: 100% !important;
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;

  .Dialog-Expand-Div {
    text-align: center;
    background-color: #F9F9F9;
    border-radius: 39px !important;
    border: 2px solid #000;

    .warning-header {
      margin-left: auto;
      margin-right: auto;
    }

    .SecondLabel {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
