.left-map-container-print {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }

  .map {
    background-color: #E0F5FE;
    box-shadow: 0 3px 15px rgba(60, 60, 60, 0.2);
    margin: 10px;
  }

  //Top values Bar
  .value-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
    background-color: #e2e6e7;
  }
  
  .left-value {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  
  .right-value {
    margin-right: 20px;
    font-size: 30px;
    font-weight: bold;
  }

  //Sliders SCSS
  .sliderbox {
    box-shadow: 0 3px 15px rgba(60, 60, 60, 0.2);
    margin: 1%;
  }

  .slider-green {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;

    .MuiSlider-colorPrimary {
        color: green;
      }
  }

  .slider-yellow {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;

    .MuiSlider-colorPrimary {
        color: yellow;
      }
  }

  .slider-red {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;

    .MuiSlider-colorPrimary {
        color: red;
      }
  }
  
  .slider-value-left {
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
  }
  
  .slider-value-right {
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;
  }

  .custom-world-map {
    margin-bottom: 20px;
  }
  
  .table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .ratings-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(60, 60, 60, 0.2);
  
    th {
      background-color: #e2e6e7;
      padding: 12px 16px;
      font-weight: bold;
      text-align: left;
      font-size: 20px;
      border: 1px solid #000000;
    }
  
    td {
      padding: 12px 16px;
      font-weight: bold;
      font-size: 18px;
      border: 1px solid #000000;
    }
  
    tbody tr:last-child td {
      border: 1px solid #000000;
    }
  }
  